body {
	background-color: #f7f7f7;
	font-size: 85%;
	font-family: 'Arial', Verdana, Helvetica, Arial, sans-serif;
	color: #4676cc;
}

input {
	color: #4676cc;
}

button {
	color: #4676cc;
}

button:disabled {
	color: #a49e8a;
}

.online {
	color: #00ff00;
	font-weight: bold;
}

#settings_div
{
	border: 1px solid;
	transition:height 1s;
	-moz-transition:width 1s; /* Firefox 4 */
	-webkit-transition:width 1s; /* Safari and Chrome */
	-o-transition:width 1s; /* Opera */
}

.video
{
	position: absolute; 
	top: 0px; 
	left: 0px; 
	border: 0px solid;
	transition:width 1s, height 1s;
	-moz-transition:width 1s; /* Firefox 4 */
	-webkit-transition:width 1s; /* Safari and Chrome */
	-o-transition:width 1s; /* Opera */
}
.offset {
	left: 420px; 
}

.small {
	width:133px;
	height:100px;
	z-index: 2;
}

.large {
	width:400px;
	height:300px;
	z-index: 1;
}