body {
    padding-top: 70px;
}


#status{
    color: #ffE;
    padding-right: 10px;
}



.navbar-form{
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0px;
}

 .navbar-right, .navbar-left{
    padding-left: 20px;
    padding-right: 20px;
 }

#video_container .panel-body, #own_video_container .panel-body {
    padding: 0px;
}
.note-editor {
    border: 0;
}
.note-editor .note-statusbar .note-resizebar {
    border: 0;
}
.note-editor .note-toolbar {
    border: 0;
}
